name = "struere-gateway"
main = "src/index.ts"
compatibility_date = "2024-01-01"
compatibility_flags = ["nodejs_compat"]
routes = [
  { pattern = "gateway.struere.dev", custom_domain = true },
  { pattern = "*-dev.struere.dev/*", zone_name = "struere.dev" },
  { pattern = "*.struere.dev/*", zone_name = "struere.dev" }
]

[vars]
ENVIRONMENT = "development"

[[d1_databases]]
binding = "DB"
database_name = "struere-db"
database_id = "24901069-a02a-4976-ab6c-2dcab110083a"

[[r2_buckets]]
binding = "BUNDLES"
bucket_name = "struere-bundles"

[[kv_namespaces]]
binding = "STATE"
id = "ea3537e6763c499f96fa3ec4c595be2e"

[[kv_namespaces]]
binding = "CONVERSATIONS"
id = "0c32663dd61841d4bbd14c124a81aedf"

[[kv_namespaces]]
binding = "SESSIONS"
id = "ea3537e6763c499f96fa3ec4c595be2e"

[[durable_objects.bindings]]
name = "DEV_SESSIONS"
class_name = "DevSessionDO"

[[migrations]]
tag = "v1"
new_sqlite_classes = ["DevSessionDO"]

[env.staging]
vars = { ENVIRONMENT = "staging" }

[env.production]
vars = { ENVIRONMENT = "production" }
